<template>
  <div>
    <the-pricing-card-box />
  </div>
</template>

<script>
export default {
  name: 'PricingPage',
  asyncData(context) {
    return context.app.$storyapi
      .get('cdn/stories/', {
        // version
        version: 'draft',
        // starts_with: 'Home/',
      })
      .then((response) => {
        /* eslint-disable */
        console.log(response)
        return response
      })
  },
}
</script>

<style lang="scss" scoped></style>
