<template>
  <div id="card__resource">
    <img v-if="img" :src="img.filename" :alt="img.alt" />
    <h1>{{ title }}</h1>
    <h3>{{ summary }}</h3>
    <!-- <RichTextRenderer :document="text" /> -->
  </div>
</template>

<script>
export default {
  name: 'ResourcePage',
  asyncData(context) {
    // const version =
    //   context.query._storyblok || context.isDev ? 'draft' : 'published'
    return context.app.$storyapi
      .get(`cdn/stories/blog/${context.params.id}`, {
        // version,
        version: 'draft',
      })
      .then((response) => {
        /* eslint-disable */
        console.log(response.data)
        return {
          img: response.data.story.content.thumbnail,
          alt: response.data.story.content.thumbnail,
          title: response.data.story.content.title,
          summary: response.data.story.content.summary,
          content: response.data.story.content.content,
        }
      })
  },
  //   computed: {
  //     richtext() {
  //       return typeof this.text === 'string'
  //         ? this.content
  //         : this.$storyapi.richTextResolver.render(this.content)
  //     },
  //   },
}
</script>

<style lang="scss" scoped></style>
