<template>
  <nuxt-link v-if="title" :to="url">
    <article class="post-preview">
      <div class="post-preview--thumbnail">
        <img v-if="thumbnail" :src="thumbnail.filename" :alt="thumbnail.alt" />
        <p class="post-preview--tag">
          {{ label }}
        </p>
      </div>
      <div class="post-preview--content">
        <h3 class="title">
          {{ title }}
        </h3>
        <p class="summary">
          {{ summary }}
        </p>
      </div>
    </article>
  </nuxt-link>
</template>

<script>
export default {
  name: 'PostPreviewCard',
  props: {
    // post: {
    //   type: Object,
    //   required: true
    // }
    url: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    summary: {
      type: String,
      default: '',
    },
    thumbnail: {
      type: Object,
      required: true,
    },
    label: {
      type: String,
      default: '',
    },
  },
}
</script>

<style lang="scss" scoped>
.post-preview {
  margin: 20px 20px;
  padding: 30px 30px;
  border: 1px solid rgba(186, 186, 186, 0.3);
  background-color: #fff;
}
</style>
