<template>
  <div>
    <p>
      <span> check </span>
    </p>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
p {
  font-size: 20px;
  span {
    font-weight: bold;
  }
}
</style>
