<template>
  <div class="ctablock w-full">
    <div class="pb-10 text-white text-4xl font-semibold">
      {{ header }}
    </div>
    <TheCTAbutton style="height: 60px; width: 220px; font-size: 20px" />
  </div>
</template>

<script>
export default {
  name: 'CTAButton',
  props: {
    header: {
      type: String,
      default: 'Easy. Intuitive. Amazing. See it in action.',
    },
  },
}
</script>

<style>
.ctablock {
  height: 700px;
  background-image: url(../assets/img/ctablock.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
</style>
