<template>
  <div class="credibility-banner">
    <p class="text-base font-normal">
      Trusted by <span class="font-bold">400+</span> clients world wide
    </p>
    <div class="hold">
      <div class="scroll">
        <img
          v-for="(brand, i) in brands"
          :key="i"
          :src="require(`~/assets/img/${brand}.png`)"
          alt=""
          class="credImg"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CredibilityBanner',
  data() {
    return {
      brands: [
        'ScotchSodaLogo',
        'GantLogo',
        'TriumphLogo',
        'StrellsonLogo',
        'MarcOPoloLogo',
        'HappySocksLogo',
        'BjornBorgLogo',
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
.credibility-banner {
  background: var(--c-gray);
  padding: 20px 0;
  text-align: center;

  p {
    letter-spacing: 0.02em;
    text-align: center;
  }
}

.hold {
  display: flex;
  justify-content: center;
}
.scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin: auto;
}
.credImg {
  display: inline-block;
  size: 200%;
  margin: 40px;
}
</style>
