<template>
  <component
    :is="to ? 'nuxt-link' : href ? 'a' : 'button'"
    class="button button__cta text-white rounded-md"
    :class="{ 'button__cta--big': ctaBig }"
    :to="to"
    :href="href"
    @click="$emit('click')"
  >
    <slot />
  </component>
</template>

<script>
export default {
  name: 'CTAButton',
  props: {
    to: {
      type: String,
      default: null,
    },
    href: {
      type: String,
      default: null,
    },
    ctaBig: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style lang="scss" scoped>
.button__cta {
  background-color: var(--c-red);
  font-size: 15px;
  line-height: 40px;
  padding: 0 26px;
  height: 40px;

  @media screen and (min-width: 800px) {
  }
  &--big {
    width: 100%;
    display: inline-block;
    text-align: center;

    @media screen and (min-width: 800px) {
      font-size: 20px;
      height: 60px;
      line-height: 60px;
      max-width: 220px;
    }
  }
}
</style>
