<template>
  <div class="footer">
    <div class="p-14 flex">
      <div>
        <img src="../assets/img/Logo.svg" alt="" />
      </div>
      <div>
        <div class="font-semibold text-xl pb-4">
          {{ title1 }}
        </div>
        <a href=""
          >Careers
          <div class="hiring">We're hiring</div></a
        >
        <br />
        <a href="">Formerly Apps4fashion</a> <br />
        <a href="">About us (video)</a> <br />
        <a href="">Press</a> <br />
        <a href="">Contact us</a>
      </div>
      <div>
        <div class="font-semibold text-xl pb-4">
          {{ title2 }}
        </div>
        <a href="">Sale app</a> <br />
        <a href="">B2B webshop</a> <br />
        <a href="">Digital showroom</a> <br />
        <a href="">Become a partner</a> <br />
        <a href="">Pricing</a> <br />
        <a href="">ERP integrations</a> <br />
        <a href="">Customer Stories</a> <br />
      </div>
      <div>
        <div class="font-semibold text-xl pb-4">
          {{ title3 }}
        </div>
        <a href="">Support center</a> <br />
        <a href="">Partners</a> <br />
        <a href="">Live dashboard</a> <br />
        <a href="">Cookie policy</a> <br />
      </div>
      <div>
        <div class="font-semibold text-xl pb-4">
          {{ title4 }}
        </div>
        <a href="">Terms &#38; conditions</a> <br />
        <a href="">Cookie policy</a> <br />
        <a href="">Privacy policy</a> <br />
      </div>
    </div>
    <div class="grid h-12 pt-4 footer--copyright">
      <div class="text-sm text-gray-700">
        {{ bar1 }}
      </div>
      <div class="text-sm text-gray-700">
        {{ bar2 }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FooterElement',
  props: {
    title1: {
      type: String,
      default: 'Company',
    },
    title2: {
      type: String,
      default: 'Resources',
    },
    title3: {
      type: String,
      default: 'Support',
    },
    title4: {
      type: String,
      default: 'Legal',
    },
    bar1: {
      type: String,
      default:
        'Colect is operated by Apptitude BV  •  Schoutenbosje 5, 1251 LE Laren, The Netherlands',
    },
    bar2: {
      type: String,
      default: 'Copyright 2021',
    },
  },
}
</script>

<style lang="scss" scope>
.footer {
  .flex {
    @media screen and (min-width: 800px) {
      display: flex;
    }
  }
  &--copyright {
    background-color: rgba(var(--c-black), 0.3);
  }
  a {
    line-height: 40px;
    height: 1px;
    width: 1px;
    position: relative;
  }
}
.flex {
  display: flex;
  justify-content: space-evenly;
}
.hiring {
  line-height: 23px;
  font-size: 11px;
  height: 23px;
  width: 84px;
  border-radius: 4px;
  background: #44ab96;
  text-align: center;
  position: absolute;
  right: -100px;
  top: -1px;
}
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  text-align: center;
}
</style>
