<template>
  <div class="h-full w-full hero">
    <div class="hero__content--text">
      <the-header-text :header="settings.header" color="light" class="pb-2" />
      <the-header-text
        :sub="settings.subheader"
        color="light"
        weight="normal"
        class="pb-8 font-normal"
      />
      <TheCTAbutton
        v-if="settings.cta"
        :cta-big="settings.cta.big"
        :href="settings.cta.link.url"
      >
        {{ settings.cta.ctaText }}
      </TheCTAbutton>
    </div>

    <img
      v-if="settings.img"
      :src="settings.img.filename"
      :alt="settings.img.alt"
      class="hero__content--image"
    />
  </div>
</template>

<script>
export default {
  name: 'TheHero',
  data() {
    return {
      header: '',
      subheader: '',
      cta: {},
    }
  },
  computed: {
    settings() {
      return this.$store.state.settings
    },
  },
}
</script>
<style lang="scss" scoped>
.hero {
  background-color: var(--c-black);
  padding: 50px 0 20px;
  display: flex;
  flex-direction: column-reverse;

  .header h4 {
    font-weight: 400;
    padding-bottom: 25px;
  }
  &__content--text {
    padding: 0 20px;

    @media screen and (min-width: 800px) {
      padding: 0 10em;
    }
  }
  img {
    margin-left: 40px;
  }

  @media screen and (min-width: 800px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
</style>
