<template>
  <div class="main--header">
    <nuxt-link to="/">
      <img src="../assets/img/Logo.svg" alt="Colect logo" />
    </nuxt-link>

    <nav>
      <ul class="nav-links">
        <nuxt-link to="/about" class="nav-link"> About </nuxt-link>
        <nuxt-link to="/blog" class="nav-link"> Blog </nuxt-link>

        <!-- <nuxt-link tag="li"><a>About</a></nuxt-link> -->

        <!-- <nuxt-link tag="li"><a>Integrations</a></nuxt-link >
        <nuxt-link tag="li"><a>Resources</a></nuxt-link >
        <nuxt-link tag="li"><a>Support</a></nuxt-link >
        <nuxt-link tag="li"><a>Login</a></nuxt-link > -->
      </ul>
      <TheCTAbutton :cta-big="ctaBig" href="/book-demo">
        {{ ctaText }}
      </TheCTAbutton>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'TheHeader',
  data() {
    return {
      ctaText: 'Book a Demo',
      ctaBig: true,
    }
  },
}
</script>

<style lang="scss" scoped>
.main--header {
  display: flex;
  justify-content: space-between;
  height: 62px;
  padding: 15px 20px;

  @media screen and (min-width: 800px) {
    height: 80px;
    padding: 20px 40px;
  }

  nav {
    display: flex;
    align-items: center;
    height: 100%;

    .nav-links {
      display: flex;
    }

    .nav-link {
      height: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      margin: 0 1rem;
      a {
        display: block;
      }
      &.nuxt-link-exact-active {
        border-bottom: solid 1px grey;
      }
    }
  }
}
</style>
