<template>
  <div
    class="header"
    :class="[
      { text: primary },
      { white: light },
      { 'font-bold': bold },
      { 'font-normal': normal },
    ]"
  >
    <h2 v-if="header">
      {{ header }}
    </h2>
    <h4 v-if="sub">
      {{ sub }}
    </h4>
  </div>
</template>

<script>
export default {
  name: 'TheHeaderText',
  props: {
    header: {
      type: String,
      default: '',
    },
    sub: {
      type: String,
      default: '',
    },
    color: {
      type: String,
      default: 'primary',
    },
    weight: {
      type: String,
      default: 'bold',
    },
  },
  computed: {
    primary() {
      return this.color === 'primary'
    },
    light() {
      return this.color === 'light'
    },
    bold() {
      return this.weight === 'bold'
    },
    normal() {
      return this.weight === 'normal'
    },
  },
}
</script>
<style lang="scss">
.header {
  h2 {
    font-family: var(--header-font);
    font-size: 1.5rem;
    line-height: 1.333;
    letter-spacing: 0.5px;
    @media screen and (min-width: 800px) {
      font-size: 2.6875rem;
      line-height: 1.209;
    }
  }

  h4 {
    font-size: 1.125rem;
    line-height: 1.444;
    letter-spacing: 0.5px;
    @media screen and (min-width: 800px) {
      font-size: 1.25rem;
      line-height: 1.5;
      letter-spacing: 0em;
    }
  }

  &.white {
    color: var(--c-white);
  }
}
</style>
