<template>
  <div class="text-white pricing-card-box">
    <the-header-text :header="header" color="light" class="pb-2" />
    <p>{{ subheader }}</p>

    <div class="cards--wrapper">
      <the-pricing-card v-for="(card, i) in cards" :key="i" :card="card" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'PricingCardBox',
  props: {
    header: {
      type: String,
      default: 'Discover Colect’s B2B Sales Solutions',
    },
    subheader: {
      type: String,
      default:
        'Colect offers tailor-made solutions to meet your specific business needs',
    },
  },
  data() {
    return {
      cards: [
        {
          header: 'In-Store Edition',
          subHeader: 'Empower your in-store sales team',
          list: [
            { msg: 'State of the art iPad sales app' },
            { msg: 'Easy to use sales website' },
          ],
          img: 'pricetag',
          ctaText: 'Learn More',
          link: '',
        },
        {
          header: 'Retail Edition',
          subHeader: 'Empower your retail clients',
          list: [
            { msg: 'State of the art iPad sales app' },
            { msg: 'Easy to use sales website' },
          ],
          img: 'retail',
          ctaText: 'Learn More',
          link: '',
        },
        {
          header: 'Enterprise Sales Edition',
          subHeader: 'Empower your sales team',
          list: [
            { msg: 'State of the art iPad sales app' },
            { msg: 'Easy to use sales website' },
          ],
          img: 'enterprise',
          ctaText: 'Learn More',
          tag: 'Most Popular',
          link: '',
        },
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
.pricing-card-box {
  padding: 30px 20px 60px;
  background: var(--c-black);
  text-align: center;

  p {
    color: var(--c-gray-text);
    padding-bottom: 40px;
    @media screen and (min-width: 800px) {
      padding-bottom: 80px;
    }
  }
  @media screen and (min-width: 800px) {
    padding: 120px 10em;
  }
}

.cards--wrapper {
  @media screen and (min-width: 800px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 3.75rem 1fr 1.875;
    justify-content: space-between;
    gap: 1rem;

    > * {
      grid-row: 2 / 3;

      &.card__pricing--highlighted {
        grid-row: 1 / 4;
      }
    }
  }
}
</style>
