<template>
  <div
    class="bg-white text-black card__pricing"
    :class="{ 'card__pricing--highlighted': card.tag }"
  >
    <p
      v-if="card.tag"
      class="text-sm font-semibold card__pricing--tag uppercase"
    >
      {{ card.tag }}
    </p>

    <the-header-text :header="card.header" class="card__pricing--header" />

    <img
      :src="require(`~/assets/img/${card.img}.svg`)"
      alt=""
      class="card__pricing--img"
    />

    <the-header-text :sub="card.subHeader" class="card__pricing--subheader" />

    <ul class="list-style">
      <li v-for="(item, i) in card.list" :key="i">
        {{ item.msg }}
      </li>
    </ul>
    <TheCTAbutton :cta-big="ctaBig" :to="card.link">
      {{ card.ctaText }}
    </TheCTAbutton>
  </div>
</template>

<script>
export default {
  name: 'PricingCard',
  props: {
    card: {
      type: Object,
      required: true,
    },
    ctaBig: {
      type: Boolean,
      default: true,
    },
  },
}
</script>

<style lang="scss" scoped>
.card__pricing {
  padding: 30px 20px;
  border-radius: 8px;
  @media screen and (min-width: 800px) {
    padding: 60px 50px;
    border-radius: 10px;
  }

  &--highlighted {
    border-color: var(--c-yellow);
    position: relative;
    overflow: hidden;
  }

  &--tag {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    background: var(--c-yellow);
    left: 0;
    border-radius: 0.25rem;
    font-family: var(--header-font);
    height: 30px;
    line-height: 30px;
    @media screen and (min-width: 800px) {
      height: 35px;
      line-height: 35px;
    }
  }

  &--header,
  &--subheader {
    text-align: center;
  }

  &--img {
    margin: 36px auto;
  }

  .list-style {
    padding: revert;
    margin: 15px auto 30px;
    max-width: 270px;
  }
}

.featured {
  background-color: #ffb017;
}

.list-style {
  list-style: inherit;

  li {
    text-align: left;
  }
}
</style>
