<template>
  <div v-if="usps" class="usps-block">
    <the-usp
      v-for="(usp, i) in usps"
      :key="i"
      :usp="usp"
      :class="{ 'uneven--block': i % 2 !== 0 }"
    />
  </div>
</template>

<script>
export default {
  name: 'USPSBlock',
  data() {
    return {
      usps: [
        {
          header: 'Digitalize Your Sales Process',
          subheader:
            'Reduce costs and increase efficiency with an optimal virtual brand experience.',
          text: 'Say goodbye to large sample collections, printed catalogues and generic solutions. Colect’s digital B2B sales tools for fashion, footwear, sports apparel and interior save time, money and resources, while offering a visually attractive brand experience. Enjoy a smooth order intake process, seamless ERP integration and data-driven sales.',
          cta: 'Learn More',
          img: 'uspblock',
        },
        {
          header: 'Create a WOW effect',
          subheader: 'Impress clients with visually attractive storytelling.',
          text: 'Inspire and amaze your clients with the digital presentation of your collections and brand story. Colect offers engaging storytelling options and highly visual digital lookbooks, suitable for remote sales - guided or self-serviced.',
          cta: 'Discover How',
          img: 'usp2',
        },
        {
          header: 'Set It To Your Standards',
          subheader:
            'Customize Colect’s tools based on your brand identity, preferred practices and specific needs.',
          text: 'Nobody does business like you, that is why Colect’s digital sales tools are tailored to your needs and highly customizable. No matter how your business is organized, Colect facilitates the process.',
          cta: 'Learn More',
          img: 'usp3',
        },
      ],
    }
  },
}
</script>
