<template>
  <div class="usp">
    <the-header-text :header="usp.header" class="usp__header" />
    <!-- <img
      :src="require(`~/assets/img/${usp.img}.png`)"
      alt=""
      style="margin: auto"
    /> -->
    <div class="usp__content--wrapper">
      <the-header-text :sub="usp.subheader" class="usp__subheader" />

      <div class="text text-base font-normal">
        {{ usp.text }}
      </div>

      <TheCTAbutton :to="usp.link">
        {{ usp.cta }}
      </TheCTAbutton>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UniqueSellingPoint',
  props: {
    usp: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped>
.usp {
  padding: 30px 20px 60px;

  &__header {
    padding-bottom: 15px;
    text-align: center;
    width: 60%;
    margin: auto;
    grid-area: header;
    @media screen and (min-width: 800px) {
      width: auto;
      text-align: left;
      margin-left: 0;
    }
  }

  img {
    margin-bottom: 20px;
    grid-area: img;
  }

  &__subheader,
  .text {
    padding-bottom: 25px;
  }

  &__content--wrapper {
    grid-area: wrapper;
  }

  @media screen and (min-width: 800px) {
    padding: 10em;
    display: grid;
    grid-template-columns: 49% 42%;
    column-gap: 6em;
    grid-template-areas:
      'header img'
      'wrapper  img';
  }
  // @media screen and (min-width: 820px) {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  //   gap: 1rem;
  // }

  &.uneven--block {
    background-color: var(--c-gray);
    grid-template-columns: 42% 49%;

    grid-template-areas:
      'img header'
      'img wrapper';

    .usp__header {
      width: 100%;
    }
  }
}

// .par {
//   padding: 0 100px 0 100px;
// }
</style>
