<template>
  <section>
    <h1>Resources and Blog</h1>
    <PostPreviewCard
      v-for="(post, i) in posts"
      :key="i"
      :url="post.url"
      :title="post.title"
      :thumbnail="post.thumbnail"
      :label="post.label"
      :summary="post.summary"
    />
  </section>
</template>

<script>
export default {
  name: 'BlogPage',
  asyncData(context) {
    // const version =
    // context.query._storyblok || context.isDev ? 'draft' : 'published'

    return context.app.$storyapi
      .get('cdn/stories', {
        // version
        version: 'draft',
        starts_with: 'blog/',
      })
      .then((response) => ({
        posts: response.data.stories.map((post) =>
          // console.log(post)
          ({
            url: post.slug,
            title: post.content.title,
            thumbnail: post.content.thumbnail,
            slug: post.full_slug,
            summary: post.content.summary,
            label: post.content.label,
          })
        ),
      }))
  },
}
</script>

<style lang="scss" scoped></style>
