<template>
  <div>
    <the-hero />
    <the-credibility-banner />
    <the-USPS-block />
    <the-pricing-card-box />
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  async mounted() {
    this.$store.dispatch('loadHomePageThings', { version: 'draft' })
  },
}
</script>
