@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary-font: 'Inter', sans-serif;
  --header-font: 'Poppins', sans-serif;
  --c-red: #ff4a47;
  --c-black: #0f0f0f;
  --c-gray: #f9fafc;
  --c-blue: #18a0fb;
  --c-green: #44ab96;
  --c-yellow: #ffb017;
  --c-white: #ffffff;
  --c-gray-text: #bdbdbd;
}

html {
  font-family: var(--primary-font);
  font-size: 16px;
  color: var(--c-black);
}

.text-base {
  line-height: 1.875;
}

* {
  box-sizing: border-box;
}
