<template>
  <section id="about-page">
    <h1>More about</h1>
    <div>this is the about page</div>
  </section>
</template>

<script>
export default {
  name: 'AboutIndex',
}
</script>

<style lang="scss" scoped></style>
